<!DOCTYPE html>
<html>
    <%- include('partials/header') %>
<body style="margin : 0px; overflow: hidden;">
    <div class="arjs-loader">
        <div>Cargando experiencia</div>
    </div>
     <!-- a-frame scene -->
    <a-scene
        vr-mode-ui="enabled: false;"
        renderer="logarithmicDepthBuffer: true;"
        embedded
        arjs="trackingMethod: best; sourceType: webcam;debugUIEnabled: false;"
    >
        <a-nft
            type="nft"
            url='./markers/greco'
            smooth="true"
            smoothCount="5"
            smoothTolerance=".01"
            smoothThreshold="5"
        >
            <a-entity
                gltf-model="./assets/CesiumMan.glb"
                scale="100 100 100"
                position="50 50 -60"
            >
            </a-entity>
        </a-nft>
    </a-scene>
</body>
</html>
