<!DOCTYPE html>
<html>
  <%- include('partials/header') %>
  <body style="margin: 0px; overflow: hidden">
    <div class="arjs-loader">
      <div>Cargando experiencia</div>
    </div>
    <!-- a-frame scene -->
    <a-scene
      id="marker"
      vr-mode-ui="enabled: false;"
      renderer="logarithmicDepthBuffer: true;"
      embedded
      arjs="trackingMethod: best; sourceType: webcam;debugUIEnabled: false;"
    >
      <a-entity
        id="texto"
        text= "value: Apunte a la pintura; align: center; width: 6;"
        visible = "false"
        position= "0 100 -300"
        scale = "50 50 50"
      >
      <a-box 
        id="guia" 
        color="grey" 
        height="3" 
        width="2" 
        opacity="0.3"
        position=" 0 -2.3 0"></a-box>
      </a-entity>
      <a-nft
        type="nft"
        id="imagen"
        url="assets/markers/greco"
        smooth="true"
        smoothCount="10"
        smoothTolerance=".01"
        smoothThreshold="5"
        emitevents="true"
      >
        <a-entity
          id="cielo"
          gltf-model="assets/models/juntos.glb"
          scale="800 800 600"
          rotation="-90 0 0"
          position="120 180 -450"
        >
        <a/-entity>

        <a-entity 
          id="sonido"
          sound= "src: url(assets/sound/ipanema.mp3)">        
        </a-entity>
        
      </a-nft>
      <a-entity camera></a-entity>

    </a-scene>
  </body>
  <script>
    let nft = document.querySelector("a-nft");
    let model = document.querySelector("[gltf-model]").components["gltf-model"].el;
    let musica = document.getElementById("sonido");
    let texto = document.getElementById("texto");
    
    window.addEventListener('arjs-nft-loaded',() => {
      texto.setAttribute('visible', 'true');
    });	



    nft.addEventListener("markerFound",() => {
        model.setAttribute('animation-mixer', "loop: once; clampWhenFinished: true");
        musica.components.sound.playSound();
        texto.setAttribute('visible', 'false');
    });

    nft.addEventListener("markerLost",() => {
      model.removeAttribute('animation-mixer');
        musica.components.sound.stopSound();
        texto.setAttribute('visible', 'true');
    });
  </script>
</html>
