<!DOCTYPE html>
<html>
    <%- include('partials/header') %>
<body>
    <a-scene>    
        <a-entity gltf-model="assets/models/batman.glb"
        scale="20 20 20"
        position="0 -25 -50"></a-entity>
        </a-box>
    </a-scene>
</body>
</html>